@tailwind base;
@layer base {
    h1 {
        @apply text-2xl;
        @apply font-medium;
        @apply mt-4;
        @apply mb-2;
    }

    h2 {
        @apply text-xl;
        @apply font-medium;
        @apply mt-2;
        @apply mb-1;
    }

    h3 {
        @apply text-lg;
        @apply font-medium;
        @apply mt-2;
        @apply mb-1;
    }

    li {
        @apply text-base;
        @apply mt-1;
        @apply ml-2;
    }

    p {
        @apply text-base;
        @apply mt-1;
        @apply ml-2;
    }
}
@tailwind components;
@tailwind utilities;